$primary: #3e80ea;
$secondary: #ffffff;
$light: #ffffff;
$dark: #495057;
$muted: #757575;
$gray: #ced4da;
$red: #d1332e;
$green: #42bd6d;
$orange: #e5a54b;

/* break points */
$break-xs: 455px;
$break-sm: 625px;
$break-md: 720px;
$break-lg: 980px;
$break-xl: 1200px;
